In [1]:
import pandas as pd
import numpy as np

In [5]:
gameid = '0021500002'
events = pd.read_csv('../../Volumes/KevSSDrive/data/events/{}.csv'.format(gameid))
all_movements = pd.read_csv('../../Volumes/KevSSDrive/NBA/data/csv/{}.csv'.format(gameid))
events = events.drop(labels=0,axis = 'index')
events = events.rename(columns = {'EVENTNUM': 'event_id'})
events = events[['event_id', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'SCORE']]
total_motion = all_movements.merge(events, how='left', on='event_id')
total_motion.to_csv('merged_{}.csv'.format(gameid), index=False)

In [8]:
'00'+str(215)

'00215'

In [3]:
for gameid in range(21500001, 21500292):
    gameid = '00'+str(gameid)
    try:
        events = pd.read_csv('../../Volumes/KevSSDrive/NBA/data/csv/events/{}.csv'.format(gameid))
        all_movements = pd.read_csv('../../Volumes/KevSSDrive/NBA/data/csv/sportvu/{}.csv'.format(gameid))
    except IOError:
        continue
    events = events.drop(labels=0,axis = 'index')
    events = events.rename(columns = {'EVENTNUM': 'event_id'})
    events = events[['event_id', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'SCORE', 'PLAYER1_ID']]
    total_motion = all_movements.merge(events, how='left', on='event_id')
    total_motion.to_csv('../../Volumes/KevSSDrive/NBA/data/csv/merged/merged_{}.csv'.format(gameid), index=False)

In [33]:
events = pd.read_csv('../../Volumes/KevSSDrive/NBA/data/events/{}.csv'.format(gameid))

In [34]:
events.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION
0,21500001,0,12,0,1,8:12 PM,12:00,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,21500001,1,10,0,1,8:12 PM,12:00,Jump Ball Horford vs. Drummond: Tip to Ilyasova,NaN,NaN,...,Detroit,Pistons,DET,5,101141,Ersan Ilyasova,1.610613e+09,Detroit,Pistons,DET
2,21500001,2,2,42,1,8:13 PM,11:41,Horford BLOCK (1 BLK),NaN,MISS Drummond 2' Driving Layup,...,NaN,NaN,NaN,4,201143,Al Horford,1.610613e+09,Atlanta,Hawks,ATL
3,21500001,3,4,0,1,8:13 PM,11:39,Bazemore REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
4,21500001,4,5,45,1,8:13 PM,11:37,Bazemore Out of Bounds - Bad Pass Turnover Tur...,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN

In [35]:
all_movements = pd.read_csv('../../Volumes/KevSSDrive/NBA/data/csv/{}.csv'.format(gameid))

In [36]:
all_movements.head()

,team_id,player_id,x_loc,y_loc,radius,game_clock,shot_clock,quarter,game_id,event_id
0,-1,-1,47.25031,26.14806,6.76567,720.0,24.0,1,21500001,1
1,1610612737,2594,45.70423,15.57870,0.00000,720.0,24.0,1,21500001,1
2,1610612737,200794,56.87016,22.95879,0.00000,720.0,24.0,1,21500001,1
3,1610612737,201143,47.26914,24.47616,0.00000,720.0,24.0,1,21500001,1
4,1610612737,201952,28.26728,23.73400,0.00000,720.0,24.0,1,21500001,1

In [47]:
events1 = events.drop(labels=0,axis = 'index' )

In [48]:
events1.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION
1,21500001,1,10,0,1,8:12 PM,12:00,Jump Ball Horford vs. Drummond: Tip to Ilyasova,NaN,NaN,...,Detroit,Pistons,DET,5,101141,Ersan Ilyasova,1.610613e+09,Detroit,Pistons,DET
2,21500001,2,2,42,1,8:13 PM,11:41,Horford BLOCK (1 BLK),NaN,MISS Drummond 2' Driving Layup,...,NaN,NaN,NaN,4,201143,Al Horford,1.610613e+09,Atlanta,Hawks,ATL
3,21500001,3,4,0,1,8:13 PM,11:39,Bazemore REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
4,21500001,4,5,45,1,8:13 PM,11:37,Bazemore Out of Bounds - Bad Pass Turnover Tur...,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
5,21500001,5,1,80,1,8:13 PM,11:21,NaN,NaN,Marc Morris 13' Step Back Jump Shot (2 PTS) (D...,...,Detroit,Pistons,DET,0,0,NaN,NaN,NaN,NaN,NaN

In [52]:
events2 = events1.rename(columns = {'EVENTNUM': 'event_id'})

In [53]:
events2.head()

,GAME_ID,event_id,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION
1,21500001,1,10,0,1,8:12 PM,12:00,Jump Ball Horford vs. Drummond: Tip to Ilyasova,NaN,NaN,...,Detroit,Pistons,DET,5,101141,Ersan Ilyasova,1.610613e+09,Detroit,Pistons,DET
2,21500001,2,2,42,1,8:13 PM,11:41,Horford BLOCK (1 BLK),NaN,MISS Drummond 2' Driving Layup,...,NaN,NaN,NaN,4,201143,Al Horford,1.610613e+09,Atlanta,Hawks,ATL
3,21500001,3,4,0,1,8:13 PM,11:39,Bazemore REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
4,21500001,4,5,45,1,8:13 PM,11:37,Bazemore Out of Bounds - Bad Pass Turnover Tur...,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
5,21500001,5,1,80,1,8:13 PM,11:21,NaN,NaN,Marc Morris 13' Step Back Jump Shot (2 PTS) (D...,...,Detroit,Pistons,DET,0,0,NaN,NaN,NaN,NaN,NaN

In [62]:
events2 = events2[['event_id', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'SCORE']]

In [42]:
events2.head()

   event.id  EVENTMSGTYPE  EVENTMSGACTIONTYPE  SCORE
1         1            10                   0    NaN
2         2             2                  42    NaN
3         3             4                   0    NaN
4         4             5                  45    NaN
5         5             1                  80  2 - 0

In [63]:
events2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 467 entries, 1 to 467
Data columns (total 4 columns):
event_id              467 non-null int64
EVENTMSGTYPE          467 non-null int64
EVENTMSGACTIONTYPE    467 non-null int64
SCORE                 113 non-null object
dtypes: int64(3), object(1)
memory usage: 18.2+ KB

In [64]:
all_movements.columns

Index([u'team_id', u'player_id', u'x_loc', u'y_loc', u'radius', u'game_clock',
       u'shot_clock', u'quarter', u'game_id', u'event_id'],
      dtype='object')

In [65]:
events2.columns

Index([u'event_id', u'EVENTMSGTYPE', u'EVENTMSGACTIONTYPE', u'SCORE'], dtype='object')

In [66]:
total_motion = all_movements.merge(events2, how='left', on='event_id')

In [67]:
total_motion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2451093 entries, 0 to 2451092
Data columns (total 13 columns):
team_id               int64
player_id             int64
x_loc                 float64
y_loc                 float64
radius                float64
game_clock            float64
shot_clock            float64
quarter               int64
game_id               int64
event_id              int64
EVENTMSGTYPE          float64
EVENTMSGACTIONTYPE    float64
SCORE                 object
dtypes: float64(7), int64(5), object(1)
memory usage: 261.8+ MB

In [68]:
total_motion.head(10)

,team_id,player_id,x_loc,y_loc,radius,game_clock,shot_clock,quarter,game_id,event_id,EVENTMSGTYPE,EVENTMSGACTIONTYPE,SCORE
0,-1,-1,47.25031,26.14806,6.76567,720.0,24.0,1,21500001,1,10.0,0.0,NaN
1,1610612737,2594,45.70423,15.57870,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
2,1610612737,200794,56.87016,22.95879,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
3,1610612737,201143,47.26914,24.47616,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
4,1610612737,201952,28.26728,23.73400,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
5,1610612737,203145,40.59368,31.74141,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
6,1610612765,101141,56.27694,25.51460,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
7,1610612765,202704,73.64107,25.48774,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
8,1610612765,202694,48.64923,35.26915,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN
9,1610612765,203484,48.46352,14.55436,0.00000,720.0,24.0,1,21500001,1,10.0,0.0,NaN

In [69]:
total_motion['SCORE'].value_counts()

48 - 43     14632
82 - 66     12232
72 - 56      9625
25 - 25      9196
78 - 61      8800
59 - 46      8792
61 - 51      8525
44 - 41      8404
96 - 84      8261
76 - 61      8129
82 - 64      7975
10 - 6       7972
12 - 8       7436
2 - 2        7425
20 - 12      7425
69 - 53      7425
96 - 86      7359
15 - 8       7161
61 - 48      6875
2 - 0        6838
44 - 43      6600
66 - 51      6600
42 - 39      6600
94 - 78      6325
4 - 4        6325
69 - 56      6324
34 - 35      6322
59 - 48      6042
34 - 37      5775
84 - 66      5775
            ...
31 - 33      3833
103 - 94     3828
104 - 94     3828
96 - 87      3740
96 - 88      3740
74 - 58      3729
94 - 79      3729
73 - 58      3729
15 - 10      3727
15 - 9       3727
22 - 14      3718
51 - 43      3575
20 - 10      3575
8 - 4        3575
23 - 14      3564
25 - 30      3553
75 - 58      3454
76 - 58      3454
34 - 39      3300
68 - 51      3300
28 - 30      3300
8 - 6        3297
25 - 18      3025
99 - 91      2750
100 - 91     2750
56 - 46      2629
98 - 91      2574
56 - 43      2464
90 - 76      2321
12 - 6       2057
Name: SCORE, dtype: int64

In [71]:
total_motion.to_csv('merged.csv', index=False)